<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>Landing Page</title>
</head>

<body class="bg-gray-100 font-sans">
    <header class="bg-white shadow-md">

    </header>
    <nav class="bg-gray-600 p-4">
        <div class="max-w-7xl mx-auto flex items-center justify-between">
            <div class="text-white font-semibold text-xl">Django Custom User_Authentication</div>
            <div class="space-x-4">
                <a href="/Login"
                    class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition duration-300">Sign
                    In </a>
            
                <a href="/Register"
                    class="bg-purple-500 text-white px-4 py-2 rounded-md hover:bg-purple-600 transition duration-300">Sign
                    Up</a>
            </div>
        </div>
    </nav>

    <section class="bg-white py-20">
        <div class="container mx-auto px-6 text-center">


            <p class="text-gray-600 mb-8">Django, a widely-used Python web framework, empowers developers to create tailored authentication solutions to suit their application's needs. By implementing a custom user authentication system using Django, developers can leverage the framework's flexibility while catering to specific requirements. <br>

                By methodically designing and implementing a custom authentication system within Django, developers can harness the power of this popular framework while tailoring the user authentication and authorization experience to their project's unique requirements.".</p>

            <br>

            <br><br><br><br><br><br><br><br><br><br>

        </div>
    </section>

    <footer class="bg-gray-800 text-white py-10">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Arfan Abid. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>